<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.vino42.dao.mapper.RelBookBookCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.vino42.domain.entity.RelBookBookCategoryEntity">
        <id column="id" property="id"/>
        <result column="book_id" property="bookId"/>
        <result column="category_id" property="categoryId"/>
        <result column="statu" property="statu"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="create_name" property="createName"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_name" property="updateName"/>
        <result column="version_stamp" property="versionStamp"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, book_id, category_id, statu, create_time, update_time, create_by, create_name, update_by, update_name, version_stamp
    </sql>
    <update id="removeByBookId" parameterType="java.lang.Long">
        update rel_book_book_category set statu=2 where book_id=#{bookId} and statu=1
    </update>
    <select id="selectByCategoryId" resultType="io.github.vino42.domain.entity.RelBookBookCategoryEntity"
            parameterType="java.util.List">
        select * from rel_book_book_category
        where statu=1
        <if test="ids!= null and ids.size() >0">
            and category_id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="getBookCategorisByBookId" resultType="io.github.vino42.domain.dto.ResAllocateListDto"
            parameterType="java.lang.String">
        SELECT b1.id        as id,
               b1.category_name as name
        FROM sys_book_category_table b1
                 LEFT JOIN rel_book_book_category b2 ON b1.id = b2.category_id
        WHERE b1.statu = 1
          AND b2.statu = 1
          AND b2.book_id = #{bookId}
        GROUP  BY b1.id
    </select>
    <select id="getCategoryIdsByBookId" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT DISTINCT (category_id )
        FROM  rel_book_book_category
        WHERE statu = 1
          AND book_id = #{bookId}
    </select>
</mapper>
